<h1>About</h1>
<div class="container">
	<div class="row">
		<div class="left  col-sm-3 col-md-6 col-lg-4">
		<p>About info on the left goes here</p>
		</div>
		<div class="right  col-sm-9 col-md-6 col-lg-8"
		<p>About info on the right goes here</p>
	</div>
</div>
